.fb-lgame-box{
	
}

.fb-lgame-desc{
	color: #FFF;
	text-align: left;
	padding: 20px;
}
.fb-lgame-patch{
	height: 150px;
	width: 20%;
	margin: 5px;
	display: inline-block;
}

.fb-lgame-patch > p{
	color: #FFF;
}

.fb-lgame-patch > img {
	width: 130px;
	height: 118px;
}