/* Panel 基础属性 */
.fb-panel-loc{
    width: 100%;
    position: relative;
    display: inline-block;
}
.fb-panel-base{
	display: inline-block;
	width: 100%;
	position: relative;
    border: 1px solid #b47b24;
    background: #571111;
    padding: 5px;
}
.fb-panel-mask{
	position: absolute;
	height: 100%;
	width: 100%;
	margin: -20px;
	padding: 20px;
}
.fb-panel-mask > div{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	color: #FFF;
	padding-top: 30%;
}

.fb-panel-loader {
    text-align: center;    
}
.fb-panel-loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: #FFF;
    border-radius: 50px;
    -webkit-animation: fb-panel-loader 0.9s infinite alternate;
    -moz-animation: fb-panel-loader 0.9s infinite alternate;
}
.fb-panel-loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
.fb-panel-loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
.fb-panel-loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.fb-panel-loader span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes fb-panel-loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}
@-moz-keyframes fb-panel-loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}

/*公共栏*/
.fb-notice-box{
    height: 30px;
    width: 100%;
    padding: 0px 20px;
    background-image: url(../../img/fb-notice-bg.jpg);
}
.fb-notice-content{
    padding-left: 55px;
    height: 100%;
    width: 100%;
    text-align: left;
    color: #FFF;
    line-height: 34px;
}

.fb-error-box{
    width: 100%;
    background: #e1f0f7;
    color: #000;
    text-align: center;
    min-height: 500px;
    padding: 10px;
}
.fb-error-box h1{
    margin-top: 200px;
    font-style:italic;
}